.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* Header section  */
.header {
    display: flex;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    flex-direction: column;
    /* parameters for the header section */
}

.header__title_block {

    align-self: center;
    margin-left: 64px;
}

.header__title_text {}

.header__subtitle_block {}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-image: url("../images/on_the_edge.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header__square-pic_blue-square {
    background-color: #2F80ED;
    height: 568px;
    width: 568px;
    background-size: contain;
    background-repeat: no-repeat;
}


/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.logo {

    height: 31px;
    width: 154px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo__header_top {
    background-image: url("../images/logo.png");
    position: absolute;
    top: 30px;
    left: 64px;

}